<header>
    <div id="navbar">
        <ul>
            <li id="logo">Homepage</li>
            <li><a href="/lyon">Lyon</a></li>
            <li><a href="/marseille">Marseille</a></li>
            <li><a href="/paris">Paris</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</header>

<h2>Login To Your Account</h2>

<form>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="Your email address...">
    <label for="password">Password</label>
    <input type="password" name="name" id="name" placeholder="Your password...">
</form>