<header>
    <div id="navbar">
        <ul>
            <li id="logo">Homepage</li>
            <li><a href="/lyon">Lyon</a></li>
            <li><a href="/marseille">Marseille</a></li>
            <li><a href="/paris">Paris</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</header>
<h2>Create Your Account</h2>
<main class="mainForm">
    <form class="registerForm">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Your email address...">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Your password...">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Your name...">
        <label for="surname">Surname</label>
        <input type="text" name="surname" id="surname" placeholder="Your surname...">
        <input type="submit">
    </form>
</main>